canvas {
    background-color: #ececec;
}

body {
    padding: 0;
    margin: 0;
}

div {
    color: black;
    position: absolute;
    font-weight: 900;
    font-size: larger;
}

.ctrl {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-top: 50%;
    margin-left: 40%;
    background-color: red;
    transform: translateY(-50%);
    justify-content: space-around;
}

#lose {
    color: crimson;
    position: absolute;
    font-size: 36px;
    text-align: center;
    width: fit-content;
    top: 50%;
    transform: translateY(-100%);
    height: fit-content;
    display: none;
    padding-left: 20px;
}